/* global styl */
:root{
    --color-primary: hsl( 0, 84%, 44% );

    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --font-secondary: "Inter", sans-serif;

}

*{
    padding: 0;
    margin: 0;
}


body{
    font-family:var(--font-default) ;
  
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--font-secondary);
}


a{
    text-decoration: none;
}

.CONTAINER{
    width: 85%;
    margin: auto;
}




/* end global styl */



/* start nav  */

.nav{
    background-color: white;
    height: 90px;
    top: 0;
   position: fixed;
   z-index: 999;
    width: 100%;
    box-shadow: 0px 0px 14px 0px #0000001b;
   

}

.container{
    width: 85%;
    margin: auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    
}

.logo a{
    font-size: 30px;
    color: black;
    font-weight: 700;
    
}
.logo{
   
}
.nav-items{

    display: flexbox;
    
}
.nav-items ul{

    list-style: none;
    display: flex;
    align-items: center;
}
.nav-items ul li{

   margin-inline:17px ;
   font-weight: 600;
   position: relative;

}
#selected{
    color:black;
}
.nav-items ul li a{

transition: color 0.2s;
   color: gray;
}
.nav-items ul li :hover{
    color: black;


   
}
ul{
    padding: 0;
    margin: 0;
}



.nav-items ul li:hover::after{
    width: 100%;
 


   
}
.nav-items ul li::after{

    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background-color: var(--color-primary);
    margin-top: 7px;
    transition: width 0.5s;
    


   
}
.nav-items #selected::after{

    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: var(--color-primary);
    margin-top: 7px;
    transition: width 0.5s;
    


   
}



.logo::after{
  
    content: "";

    background-color: var(--color-primary);
    width: 6px;
    height: 5px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-left: -5px; 
   
   
    
    
}

.nav .theme-mode i{
    cursor: pointer;
}


li{
    padding: 0;
    margin: 0;
}

/* end nav  */




/* start header  */


.header{
   
    display: flex;
    align-items: center;
   
    background-color: #EEEEEE;
    min-height:  100vb;
}

.header-body{
  
   height: 100%;
   width: 85%;
   margin: auto;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    
}

.header-body h2{
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 65px;
color: #3A374C;
padding-bottom: 35px;
    
 

}
.header .right-section{
    margin-top: 8%;
    
        width: 40%;
    }
.header .right-section button{
    
   
    
        border: 0;
       padding: 0.8rem 2rem;
        background-color: var(--color-primary);
        border-radius: 0 50px 50px 50px;
        transition: color 1s;
        cursor: pointer;
    }


.header .right-section button:hover{
   background-color: #E61414;
   
    }

.header .right-section button a{
    color: white;
    font-size: 16px;
    }

.header .left-section{
    margin-top: 8%;
    display: flex;
    justify-content: flex-end;

    width: 50%;
}
.header .left-section img{
    filter: drop-shadow(rgba(0, 0, 0, 0.667) 4px 4px 9px);
  width: 80%;
}
.btn-groupe{
    
    display: flex;
    min-height: 100px;
    align-items: center;
    column-gap: 50px;
 

}

.btn-groupe .icon {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
  text-align: center;
 
   
  }

.btn-groupe .icon i {
width: 100%;
 
   
  }

  .video-btn{
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    transition: 0.7s;
  }

  .video-btn:hover{
   color: var(--color-primary);
  }
  .video-btn:hover a{
   color: var(--color-primary);
  }
  .video-btn a{
   color: black;
   font-weight: 600;
   font-size: 16px;
   transition: 0.7s;
}

  }

   
  

 
/* end header  */




/* start chefs */

.chefs{
    height: 400px;
    background-color: #E61414;
}
.chefs .title{
    padding-block: 6%;
    text-align: center;
}
.chefs h2 ,span{
    font-size: 50px;
    font-weight: 500;
    font-family: "Amatic SC", sans-serif;
    
}
.chefs span{
   color: #CE1212;
    
}
.chefs p{
   color: #7F7F90;
    
}

.cards{
    display: flex;
    justify-content: space-between;
}
.cards .card {
    overflow: hidden;
    margin-block:20px ;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
    border-radius: 10px;
    transition: transform 0.5s;
    
    position: relative;

}
.cards .card .action {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    content: "";
    width: 50px;
    height: 32%;
    background-color: #E2D9D266;
    z-index: 3;
    position: absolute;
    top: 20px;
    right: -50px;
    transition: right  0.1s ;
    

}
.cards .card .action i{
    color: #7F7F9090;
    cursor: pointer;
    transition: color 0.5s;
    
}
.cards .card .action i:hover{
color: black;
}

.cards .card:hover {
    transform: scale(1.1);

}
.cards .card:hover .action {
    right: 10px;
    transition: right 0.5s 0.5s ;
    

}

.cards .card .image{
    height: 70%;

}
.cards .card .image img{
    width: 100%;
    border-radius: 10px;
    position: relative;

}
.cards .card .image {
    overflow: hidden;
    
    position: relative;

}

.cards .card .image::before{
    content: "";
    position: absolute;
    bottom: 0;
 
    background-image: url(../images/team-shape.svg);
    background-repeat: repeat-x;
    width: 100%;
    height: 3.75rem;
    z-index: 1;
    

}
.cards .card .content{
    padding: 10px;
    

}

/* end chefs */
