/* global styl */
:root{
    --color-primary: hsl( 0, 84%, 44% );

    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --font-secondary: "Inter", sans-serif;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family:var(--font-default) ;
  
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--font-secondary);
}


a{
    text-decoration: none;
}

.CONTAINER{
    width: 85%;
    margin: auto;
}




/* end global styl */



/* start nav  */

.nav{
    background-color: white;
    height: 90px;
    top: 0;
   position: fixed;
   z-index: 999;
    width: 100%;
    box-shadow: 0px 0px 14px 0px #0000001b;
   

}

.container{
    width: 85%;
    margin: auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    
}

.logo a{
    font-size: 30px;
    color: black;
    font-weight: 700;
    
}
.logo{
   
}
.nav-items{

    display: flexbox;
    
}
.nav-items ul{

    list-style: none;
    display: flex;
    align-items: center;
}
.nav-items ul li{

   margin-inline:17px ;
   font-weight: 600;
   position: relative;

}
#selected{
    color:black;
}
.nav-items ul li a{

transition: color 0.2s;
   color: gray;
}
.nav-items ul li :hover{
    color: black;


   
}
ul{
    padding: 0;
    margin: 0;
}



.nav-items ul li:hover::after{
    width: 100%;
 


   
}
.nav-items ul li::after{

    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background-color: var(--color-primary);
    margin-top: 7px;
    transition: width 0.5s;
    


   
}
.nav-items #selected::after{

    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: var(--color-primary);
    margin-top: 7px;
    transition: width 0.5s;
    


   
}



.logo::after{
  
    content: "";

    background-color: var(--color-primary);
    width: 6px;
    height: 5px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-left: -5px; 
   
   
    
    
}

.nav .theme-mode i{
    cursor: pointer;
}


li{
    padding: 0;
    margin: 0;
}

/* end nav  */




/* start header  */


.header{
   
    display: flex;
    align-items: center;
   
    background-color: #EEEEEE;
    min-height:  100vb;
}

.header-body{
  
   height: 100%;
   width: 85%;
   margin: auto;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    
}

.header-body h2{
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 65px;
color: #3A374C;
padding-bottom: 35px;
    
 

}
.header .right-section{
    margin-top: 8%;
    
        width: 40%;
    }
.header .right-section button{
    
   
    
        border: 0;
       padding: 0.8rem 2rem;
        background-color: var(--color-primary);
        border-radius: 0 50px 50px 50px;
        transition: color 1s;
        cursor: pointer;
    }


.header .right-section button:hover{
   background-color: #E61414;
   
    }

.header .right-section button a{
    color: white;
    font-size: 16px;
    }

.header .left-section{
    margin-top: 8%;
    display: flex;
    justify-content: flex-end;

    width: 50%;
}
.header .left-section img{
    filter: drop-shadow(rgba(0, 0, 0, 0.667) 4px 4px 9px);
  width: 80%;
}
.btn-groupe{
    
    display: flex;
    min-height: 100px;
    align-items: center;
    column-gap: 50px;
 

}

.btn-groupe .icon {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
 
   
  }

.btn-groupe .icon i {
width: 100%;
 
   
  }

  .video-btn{
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    transition: 0.7s;
    position: relative;
  }
  .half-circle{
    content: "";
    position: absolute;
    width: 65px;
    height: 32px;
    border-radius: 0   0 32px  32px ;
    transform: rotate(90deg);
    background-color: var(--color-primary);
   left: -24px;


  }

  .video-btn:hover{
   color: var(--color-primary);
  }
  .video-btn:hover a{
   color: var(--color-primary);
  }
  .video-btn a{
   color: black;
   font-weight: 600;
   font-size: 16px;
   transition: 0.7s;
}




   
  

 
/* end header  */




/* start chefs */

.chefs{
   
}
 .title{
    padding-block: 6%;
    text-align: center;
}
.title h2 ,span{
    font-size: 50px;
    font-weight: 500;
    font-family: "Amatic SC", sans-serif;
    
}
.title span{
   color: var(--color-primary);
    
}
.title p{
   color: #7F7F90;
    
}

.cards{
    display: flex;
    justify-content: space-between;
}
.cards .card {
    overflow: hidden;
    margin-block:20px ;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
    border-radius: 10px;
    transition: transform 0.5s;
    
    position: relative;
    margin-bottom: 7%;

}
.cards .card .action {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    content: "";
    width: 50px;
    height: 32%;
    background-color: #E2D9D266;
    z-index: 3;
    position: absolute;
    top: 20px;
    right: -50px;
    transition: right  0.1s ;
    

}
.cards .card .action i{
    color: #7F7F9090;
    cursor: pointer;
    transition: color 0.5s;
    
}
.cards .card .action i:hover{
color: black;
}

.cards .card:hover {
    transform: scale(1.1);

}
.cards .card:hover .action {
    right: 10px;
    transition: right 0.5s 0.5s ;
    

}

.cards .card .image{
    height: 70%;

}
.cards .card .image img{
    width: 100%;
    border-radius: 10px;
    position: relative;

}
.cards .card .image {
    overflow: hidden;
    
    position: relative;

}

.cards .card .image::before{
    content: "";
    position: absolute;
    bottom: 0;
 
    background-image: url(../images/team-shape.svg);
    background-repeat: repeat-x;
    width: 100%;
    height: 3.75rem;
    z-index: 1;
    

}
.cards .card .content{
    padding: 10px;
    

}

/* end chefs */





/* start gallery */

.gallary{
    background-color: #EEEEEE;
    padding-bottom: 7%;
}

.gallary-conatiner{
    width: 85%;
    margin: auto;
}



.gallry-mosanry{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 66rem;
    flex-direction: column;
    
    
    align-content: center;
   
    
    
}

.gallry-item{
    width: 30%;
    background-color: white;
    overflow: hidden;
    
   
  
}  


.gallry-item img:hover{
    transform: scale(1.1);
   
  
}   
.gallry-item img{
    transition: 0.5s;
   
   overflow: hidden;
    width: 100%;
    border: solid white 6px;
    display: block;
    
   
  
}

.gallry-item:nth-child(3n+1){
  
   
}
.gallry-item:nth-child(3n+2){
    
}
.gallry-item:nth-child(3n+0){
  
 
    
}
.item1{

    
}
.item2{}
.item3{}
.item4{}
.item5{}
.item6{}







/* end gallery */



/* start contact */


.contact{
    background-color: white;
}

.contact .map{
    margin-block: 16px;
    height: 400px;
    width: 100%;
}
.contact .map iframe{
    height: 350px;
    width: 100%;
}

.contact .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}


.contact .items .item{
    margin: 8px 0;
background-color: #F5F5F5;
height: 6rem;
    width: 48.67%;
    display: flex;
    align-items: center;
}
.contact .items .item .circule{
background-color: var(--color-primary);
    width: 45px;
    height: 50px;
    border-radius: 50%;
   margin-left: 30px;
   margin-right: 20px;
    position: relative;
}
.contact .items .item .circule i{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% ,-50%);
color: white;
}
.contact .card{
    margin: 7% 0;
    box-shadow: 0 0 1.875rem #00000014;
    color: white;
    width: 100%;
    height: 500px;
}



form{
    
   
text-align: center;

}

form .inner{
   
 margin: 20px;
 flex-wrap: wrap;
 display: flex;
 justify-content: space-between;
 

}

form input{
    margin-block: 10px;
    width: 48.6%;
    padding: 14px;
    border: 2px solid #EEEEEE;
    outline: none;
    
    
}

input:focus{
    border: 2px solid var(--color-primary);
    transition: border-color 0.3s ease;
}

textarea:focus {
    border: 2px solid var(--color-primary);
  }

  
#subject{
   width: 100%;
}

textarea{
    outline: none;
    
    height: 180px;
    margin-block: 10px;
    width: 100%;
    padding: 14px;
    border: 2px solid #EEEEEE;
    
}

.contact button{
    border: 0;
    color: white;
    background-color: var(--color-primary);
    padding: 15px 50px;
    border-radius: 30px;
    transition: color 0.5s;
    cursor: pointer;
}
.contact button:hover{
   
    background-color: #E61414;
    
}

/* end contact */



/* start footer  */

.footer{
    background-size: contain;
    background-position: center;
    overflow: hidden;
 
    height: 360px;
    width: 100%;
   background-image: linear-gradient(#0009, #0009), url("../images/textured-metal-background.jpg");
}

.full{
    display: flex;
    justify-content: space-between;
    padding: 3% 0 20px 0 ;
}
.full p ,h4,h3{
  
    color: white;
}
.full h4{
    width: fit-content;
    margin: auto;
    
}


.left{
width: 23%;
}
.LOGO{
    display: flex;
    align-items: center;
}
.left .image{
width: 50px;
}
.left .image img{
width: 100%;
}
.left .LOGO .logo a{
    color: white;
width: 100%;
}
.icons{
    display: flex;
    justify-content: space-evenly;
} 
.icons  i{
    margin-block: 8%;
    color: white;
}



.middel{
    width: 48%;
}
.middel form{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.middel input{
    padding: 10px 20px ;
    width: 75%;
}
.middel button{
    background-color: var(--color-primary);
padding: 10px 20px ;
}
.middel button a {
    margin:1px 0;
    
color: white;
}
.middel button i {
    margin:1px 0;
    
color: white;
}
 .middel .links{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    
    height: 36%;
  
} 
.middel .links .item{
    transition: 0.5s;
   
    height: 30%;
    padding-block: 2px;
  
    width: 47%;
 
} 
.middel .links .item:hover{
   
    transform: translateX(10px);
    background-color: #222222;
 
} 



.right{
    width: 23%;
}
.right .item{
    margin-block:24px ;
    
display: flex;
align-items: center;
}
.right .item i{
  

color: var(--color-primary);
margin-right:10px ;
}
.right .item a{
    cursor: pointer;
  

color: white;
margin-right:10px ;
}
/* end footer  */